<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>rhun</string>
	<key>CFBundleIdentifier</key>
	<string>com.r13.rhun</string>
	<key>CFBundleName</key>
	<string>rhun</string>
	<key>CFBundleDisplayName</key>
	<string>rhun</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>@VERSION@</string>
	<key>CFBundleVersion</key>
	<string>@VERSION@</string>
	<key>CFBundleIconFile</key>
	<string>rhun</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>MIT License</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Text</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
				<string>public.source-code</string>
				<string>public.script</string>
				<string>public.json</string>
				<string>public.xml</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.png</string>
				<string>public.jpeg</string>
				<string>com.compuserve.gif</string>
				<string>com.microsoft.bmp</string>
				<string>com.microsoft.ico</string>
				<string>com.truevision.tga-image</string>
				<string>public.pbm</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Image extensions</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qoi</string>
				<string>cur</string>
				<string>pgm</string>
				<string>ppm</string>
				<string>pnm</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Source and configuration</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ada</string>
				<string>adb</string>
				<string>adoc</string>
				<string>ads</string>
				<string>applescript</string>
				<string>asciidoc</string>
				<string>asm</string>
				<string>astro</string>
				<string>atom</string>
				<string>awk</string>
				<string>bash</string>
				<string>bat</string>
				<string>bazel</string>
				<string>bib</string>
				<string>bzl</string>
				<string>c</string>
				<string>capnp</string>
				<string>cbl</string>
				<string>cc</string>
				<string>cfg</string>
				<string>cjs</string>
				<string>cl</string>
				<string>clj</string>
				<string>cljc</string>
				<string>cljs</string>
				<string>cls</string>
				<string>cmake</string>
				<string>cmd</string>
				<string>cob</string>
				<string>cobol</string>
				<string>comp</string>
				<string>conf</string>
				<string>cpp</string>
				<string>cppm</string>
				<string>cpy</string>
				<string>cr</string>
				<string>cron</string>
				<string>crontab</string>
				<string>cs</string>
				<string>cshtml</string>
				<string>csproj</string>
				<string>css</string>
				<string>csx</string>
				<string>cts</string>
				<string>cu</string>
				<string>cue</string>
				<string>cuh</string>
				<string>cxx</string>
				<string>d</string>
				<string>dart</string>
				<string>ddl</string>
				<string>desktop</string>
				<string>dhall</string>
				<string>di</string>
				<string>diff</string>
				<string>djhtml</string>
				<string>dockerfile</string>
				<string>dot</string>
				<string>dpk</string>
				<string>dpr</string>
				<string>dtx</string>
				<string>ebuild</string>
				<string>editorconfig</string>
				<string>edn</string>
				<string>ejs</string>
				<string>el</string>
				<string>elm</string>
				<string>env</string>
				<string>erb</string>
				<string>erl</string>
				<string>escript</string>
				<string>ex</string>
				<string>exs</string>
				<string>f</string>
				<string>f03</string>
				<string>f08</string>
				<string>f77</string>
				<string>f90</string>
				<string>f95</string>
				<string>fish</string>
				<string>fnl</string>
				<string>for</string>
				<string>frag</string>
				<string>fs</string>
				<string>fsi</string>
				<string>fsproj</string>
				<string>fsscript</string>
				<string>fsx</string>
				<string>gemspec</string>
				<string>geojson</string>
				<string>geom</string>
				<string>gleam</string>
				<string>glsl</string>
				<string>go</string>
				<string>gql</string>
				<string>gradle</string>
				<string>graphql</string>
				<string>groovy</string>
				<string>gv</string>
				<string>gvy</string>
				<string>h</string>
				<string>haml</string>
				<string>handlebars</string>
				<string>hbs</string>
				<string>hcl</string>
				<string>hh</string>
				<string>hlsl</string>
				<string>hpp</string>
				<string>hrl</string>
				<string>hs</string>
				<string>htm</string>
				<string>html</string>
				<string>http</string>
				<string>hx</string>
				<string>hxx</string>
				<string>idr</string>
				<string>inc</string>
				<string>ini</string>
				<string>ipp</string>
				<string>itcl</string>
				<string>iuml</string>
				<string>ixx</string>
				<string>j2</string>
				<string>jade</string>
				<string>janet</string>
				<string>java</string>
				<string>jinja</string>
				<string>jinja2</string>
				<string>jl</string>
				<string>js</string>
				<string>json</string>
				<string>json5</string>
				<string>jsonc</string>
				<string>jsonl</string>
				<string>jsonnet</string>
				<string>jsx</string>
				<string>just</string>
				<string>kdl</string>
				<string>ksh</string>
				<string>kt</string>
				<string>kts</string>
				<string>lean</string>
				<string>less</string>
				<string>lhs</string>
				<string>libsonnet</string>
				<string>lidr</string>
				<string>liquid</string>
				<string>lisp</string>
				<string>log</string>
				<string>lpr</string>
				<string>ltx</string>
				<string>lua</string>
				<string>m</string>
				<string>mak</string>
				<string>markdown</string>
				<string>md</string>
				<string>mdx</string>
				<string>mermaid</string>
				<string>metal</string>
				<string>mjs</string>
				<string>mk</string>
				<string>ml</string>
				<string>mli</string>
				<string>mll</string>
				<string>mly</string>
				<string>mm</string>
				<string>mmd</string>
				<string>mojo</string>
				<string>mount</string>
				<string>mts</string>
				<string>mustache</string>
				<string>nasm</string>
				<string>ndjson</string>
				<string>nginx</string>
				<string>nim</string>
				<string>nimble</string>
				<string>nims</string>
				<string>ninja</string>
				<string>nix</string>
				<string>njk</string>
				<string>nomad</string>
				<string>nunjucks</string>
				<string>odin</string>
				<string>org</string>
				<string>p6</string>
				<string>pas</string>
				<string>patch</string>
				<string>php</string>
				<string>phtml</string>
				<string>pkl</string>
				<string>pl</string>
				<string>pl6</string>
				<string>plantuml</string>
				<string>plist</string>
				<string>pm</string>
				<string>pm6</string>
				<string>pp</string>
				<string>prisma</string>
				<string>prolog</string>
				<string>properties</string>
				<string>props</string>
				<string>proto</string>
				<string>ps1</string>
				<string>psd1</string>
				<string>psm1</string>
				<string>psql</string>
				<string>pu</string>
				<string>pug</string>
				<string>puml</string>
				<string>purs</string>
				<string>py</string>
				<string>pyi</string>
				<string>pyw</string>
				<string>r</string>
				<string>rake</string>
				<string>raku</string>
				<string>rakumod</string>
				<string>rakutest</string>
				<string>razor</string>
				<string>rb</string>
				<string>rego</string>
				<string>rest</string>
				<string>rhtml</string>
				<string>rkt</string>
				<string>rmd</string>
				<string>rockspec</string>
				<string>ron</string>
				<string>rs</string>
				<string>rss</string>
				<string>rst</string>
				<string>s</string>
				<string>sass</string>
				<string>sbt</string>
				<string>sc</string>
				<string>scala</string>
				<string>scm</string>
				<string>scss</string>
				<string>service</string>
				<string>sh</string>
				<string>slim</string>
				<string>socket</string>
				<string>sol</string>
				<string>sql</string>
				<string>ss</string>
				<string>star</string>
				<string>sty</string>
				<string>sv</string>
				<string>svelte</string>
				<string>svg</string>
				<string>svh</string>
				<string>swift</string>
				<string>syn</string>
				<string>t</string>
				<string>target</string>
				<string>targets</string>
				<string>tcl</string>
				<string>tesc</string>
				<string>tese</string>
				<string>tex</string>
				<string>text</string>
				<string>tf</string>
				<string>tfvars</string>
				<string>theme</string>
				<string>thrift</string>
				<string>timer</string>
				<string>tk</string>
				<string>toml</string>
				<string>tpp</string>
				<string>ts</string>
				<string>tsx</string>
				<string>twig</string>
				<string>txt</string>
				<string>typ</string>
				<string>v</string>
				<string>vala</string>
				<string>vapi</string>
				<string>vb</string>
				<string>vbs</string>
				<string>vcxproj</string>
				<string>vert</string>
				<string>vh</string>
				<string>vhd</string>
				<string>vhdl</string>
				<string>vim</string>
				<string>vsh</string>
				<string>vue</string>
				<string>webmanifest</string>
				<string>wgsl</string>
				<string>wsdl</string>
				<string>xaml</string>
				<string>xhtml</string>
				<string>xml</string>
				<string>xsd</string>
				<string>xsl</string>
				<string>xslt</string>
				<string>yaml</string>
				<string>yml</string>
				<string>zig</string>
				<string>zon</string>
				<string>zsh</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folder</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.folder</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
